<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <div class="title is-5"><%= t('errors.template', :count => place.errors.count) %></div>
      <ul>
        <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br><div class="title is-5"><%= t('general.general_information') %></div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.title') %></label>
    <div class="control">
      <%= form.text_field :title %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.image') %></label>
    <div class="control">
      <% if form.object.image.attached? %>
        <%= image_tag form.object.image %>
        <%= form.hidden_field :image, value: form.object.image.signed_id %>
      <% else %>
        <%= form.file_field :image %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.category_ids') %></label>
    <div class="control">
      <% for category in Category.all %>
        <div>
          <%= check_box_tag "place[category_ids][]", category.id %>
          <%= category.title %>
        </div>
      <% end %>
    </div>
  </div>

  <br><div class="title is-5"><%= t('general.additional_information') %></div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.price') %> [<%= t('place.price_unit') %>]</label>
    <div class="control">
      <%= form.number_field :price_chf, step: 0.05, min: 0, hint: 'en CHF' %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.duration') %> [<%= t('place.duration_unit') %>]</label>
    <div class="control">
      <%= form.number_field :duration_minutes, min: 0, hint: 'en minutes' %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.schedule') %></label>
    <div class="control">
      <%= form.text_area :schedule %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.description') %></label>
    <div class="control">
      <%= form.text_area :description %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.lat') %></label>
    <div class="control">
      <%= form.text_field :lat %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.lng') %></label>
    <div class="control">
      <%= form.text_field :lng %>
    </div>
  </div><br>

  <div class="actions">
    <%= form.submit t('buttons.create') %>
  </div>
<% end %>
