<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template', :count => place.errors.count) %></h2>
      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.title') %></label>
      <div class="control">
        <%= form.text_field :title %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.description') %></label>
      <div class="control">
        <%= form.text_area :description %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.price') %></label>
      <div class="control">
        <%= form.text_field :price %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.duration') %></label>
      <div class="control">
        <%= form.number_field :duration %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.schedule') %></label>
      <div class="control">
        <%= form.text_area :schedule %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.lat') %></label>
      <div class="control">
        <%= form.text_field :lat %>
      </div>
  </div>

  <div class="field">
    <label class="label"><%= t('activerecord.attributes.place.lng') %></label>
      <div class="control">
        <%= form.text_field :lng %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.create') %>
  </div>
<% end %>
