<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Duration</th>
      <th>Schedule</th>
      <th>Lat</th>
      <th>Lng</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.title %></td>
        <td><%= place.description %></td>
        <td><%= place.price %></td>
        <td><%= place.duration %></td>
        <td><%= place.schedule %></td>
        <td><%= place.lat %></td>
        <td><%= place.lng %></td>
        <td><%= link_to 'Show', place %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
