<p id="notice"><%= notice %></p>

<div class="title is-4 has-text-centered"><%= t('general.title') %></div>
<% if params[:category] %>
  <div class="subtitle is-6 has-text-centered">
    <%= t('activerecord.attributes.place.category') %> : <%= @category.titles[cookies[:language]] %>
  </div>
<% end %>
<% if params[:user] %>
  <div class="subtitle is-6 has-text-centered">
    <%= t('menu.places') %>
  </div>
<% end %>

<% @places.each do |place| %>
  <br>
  <div class="card">
    <%= link_to place do %>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5"><%= place.title %></p>
            <p class="subtitle is-6"><%= place.description %></p>
            <p class="subtitle is-6"><%= place.schedule %></p>
            <% if params[:user] %>
              <p class="subtitle is-6"><em>
                <% if place.approved %>
                  <%= t('place.approved_message_yes') %>
                <% else %>
                  <%= t('place.approved_message_no') %>
                <% end %>
              </em></p>
            <% end %>
          </div>
          <div class="media-right">
            <figure class="image is-128x128">
              <% if place.image.attached? %>
                <%= image_tag place.image, :class => "is-rounded" %>
              <% else %>
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
              <% end %>
            </figure>
          </div>
        </div>
      </div>
      <% if place.price_chf || place.duration_minutes %>
        <footer class="card-footer">
          <div class="card-footer-item"><%= place.price_chf %> <%= t('place.price_unit') if place.price_chf %></div>
          <div class="card-footer-item"><%= place.duration_minutes %> <%= t('place.duration_unit') if place.duration_minutes %></div>
        </footer>
      <% end %>
    <% end %>
  </div>
<% end %>
