<p id="notice"><%= notice %></p>

<div class="card card-shadow">
  <header class="card-header">
    <p class="card-header-title is-centered title is-4"><%= @place.title %></p>
  </header>
  <div class="columns">
    <div class="card-image has-text-centered column is-one-quarter">
      <figure  class="image is-256x256">
        <% if @place.image.attached? %>
          <%= image_tag @place.image, :class => "is-rounded" %>
        <% else %>
          <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png" alt="Placeholder image">
        <% end %>
      </figure>
    </div>
    <div class="column">
      <%= content_tag(:div, nil, :id => 'map', :data => { :place => @place }) %>
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      <% if @place.price_chf %>
        <p class="subtitle is-5"><%= t('place.price') %></p>
        <p><%= @place.price_chf %>  <%= t('place.price_unit') %></p>
      <% end %>
      <% if @place.duration_minutes %>
        <p class="subtitle is-5"><%= t('place.duration') %></p>
        <p><%= @place.duration_minutes %>  <%= t('place.duration_unit') %></p>
      <% end %>
      <% if @place.schedule %>
        <p class="subtitle is-5"><%= t('place.schedule') %></p>
        <p><%= @place.schedule %></p>
      <% end %>
      <% if @place.description %>
        <p class="subtitle is-5"><%= t('place.description') %></p>
        <p><%= @place.description %></p>
      <% end %>
    </div>
  </div>
</div>

<script>
  // Display map
  var map = L.map('map');

  // Add map base: OpenStreetMap
  L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
  }).addTo(map);

  // Display the place in the map
  var place = JSON.parse(document.querySelector('#map').dataset.place);
  L.geoJSON(place.geometry).addTo(map);

  // Center the map on the place position
  map.setView([place.geometry.coordinates[1], place.geometry.coordinates[0]], 17);
</script>
