<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('place.title') %></strong><br/>
  <%= @place.title %>
</p>

<p>
  <strong><%= t('place.description') %></strong><br/>
  <%= @place.description %>
</p>

<p>
  <strong><%= t('place.price') %></strong><br/>
  <%= @place.price %>
</p>

<p>
  <strong><%= t('place.duration') %></strong><br/>
  <%= @place.duration %>
</p>

<p>
  <strong><%= t('place.schedule') %></strong><br/>
  <%= @place.schedule %>
</p>

<p>
  <strong><%= t('place.lat') %></strong><br/>
  <%= @place.lat %>
</p>

<p>
  <strong><%= t('place.lng') %></strong><br/>
  <%= @place.lng %>
</p>

<%= link_to t('buttons.back'), places_path %>
