<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @place.duration %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @place.schedule %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>

<%= link_to 'Back', places_path %>
