<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <div class="title is-4">Spot</div>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarSpot" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbarSpot">
    <div class="navbar-start">
      <a class="navbar-item" href="/"><%= t('menu.spots') %></a>
      <a class="navbar-item" href="<%= places_map_path %>"><%= t('menu.map') %></a>
      <div class="navbar-item has-dropdown dropdown is-hoverable" onclick="document.querySelector('.dropdown').classList.toggle('is-active');">
        <a class="navbar-link is-arrowless"><%= t('menu.categories') %></a>
        <div class="navbar-dropdown">
          <% Category.all.each do |category| %>
            <a class="navbar-item" href="<%= places_by_category_path(category: category.titles['en'].downcase) %>"><%= category.title %></a>
          <% end %>
        </div>
      </div>
      <% if logged_in? %>
        <div class="navbar-item has-dropdown dropdown is-hoverable" onclick="document.querySelector('.dropdown').classList.toggle('is-active');">
          <a class="navbar-link is-arrowless"><%= t('menu.account') %></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= places_by_user_path(current_user.pseudo) %>"><%= t('menu.places') %></a>
            <a class="navbar-item" href="<%= new_place_path %>"><%= t('menu.spot') %></a>
            <a class="navbar-item" href="<%= user_path(current_user) %>"><%= t('menu.profile') %></a>
            <a class="navbar-item" data-method="delete" href="<%= session_path %>"><%= t('menu.logout') %> (<%= current_user.pseudo %>)</a>
          </div>
        </div>
      <% else %>
        <a class="navbar-item" href="<%= new_session_path %>"><%= t('menu.login') %></a>
      <% end %>
      <a class="navbar-item" href="/admin"><%= t('menu.administration') %></a>
    </div>
  </div>
</nav>
