<!DOCTYPE html>
<html>
  <head>
    <title>Spot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <div class="title is-4">Spot</div>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarSpot" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbarSpot">
        <div class="navbar-start">
          <a class="navbar-item" href="/"><%= t('menu.spots') %></a>
          <a class="navbar-item" href="/admin"><%= t('menu.administration') %></a>
        </div>
      </div>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
